---
import Layout from '../../layouts/Layout.astro';
import ProductoCard from '../../components/tienda/ProductoCard.astro';
import productos from '../../data/productos.json';
---

<Layout>
  <section class="relative px-4 pt-6 pb-20 max-w-5xl mx-auto text-center text-gold font-serif">
    <h1 class="text-xl md:text-2xl font-cinzel text-gold tracking-widest mb-2">TIENDA</h1>
    <p class="text-sm italic text-gold/80 mb-10">Cada esencia es un umbral sensorial.</p>

    <div class="grid grid-cols-2 gap-6 sm:px-4">
      {productos.map((item) => (
        <ProductoCard {...item} />
      ))}
    </div>
  </section>
</Layout>
